<app-tab-component class="about">
  <div class="tab tab--about">
    <div class="overlay">
      <div class="central">
        <div class="top">
          <h1>EDUARDO LUIZ DA SILVEIRA</h1>
          <div>
            <h3>Trusted by:</h3>
            <div class="companies">
              <a *ngFor="let experience of experiences"
                 [href]="experience.link"
                 target="_blank">
                <div class="eds">
                  <img [src]="experience.image">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="background-image"></div>
  </div>
</app-tab-component>