<app-tab-component class="about">
  <div class="tab tab--about">
    <div class="overlay">
      <div class="central">
        <div class="top">
          <h1>EDUARDO LUIZ DA SILVEIRA</h1>
          <div>
            <h3>Trusted by:</h3>
            <div class="companies">
              <a href="https://everydayspeech.com/"
                 target="_blank"
                 alt="everydayspeech.com">
                <div class="eds">
                  <img src="../../../../assets/eds.png">
                </div>
              </a>
              <a href="https://wearelayer.com/"
                 target="_blank"
                 alt="wearelayer.com">
                <div class="layer">
                  <img src="../../../../assets/layer.png">
                </div>
              </a>
              <a href="https://www.albaraka.com/"
                 target="_blank"
                 alt="albaraka.com">
                <div class="baraka">
                  <img src="../../../../assets/albaraka.png">
                </div>
              </a>
              <a href="https://trio.dev/"
                 target="_blank"
                 alt="trio.dev">
                <div class="trio">
                  <img src="../../../../assets/trio.png">
                </div>
              </a>
              <a href="https://www.insidesistemas.com.br/"
                 target="_blank"
                 alt="insidesistemas.com.br">
                <div class="inside">
                  <img src="../../../../assets/inside.png">
                </div>
              </a>
              <a href="https://www.clovercrm.com.br/a-solucao/"
                 target="_blank"
                 alt="clovercrm.com.br">
                <div class="datacoper">
                  <img src="../../../../assets/datacoper.png">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="background-image"></div>
  </div>
</app-tab-component>