<app-tab-component class="about">
  <div class="tab tab--about">
    <div class="overlay">
      <div class="central">
        <div class="top">
          <h1>EDUARDO LUIZ DA SILVEIRA</h1>
          <h3>Software Developer</h3>
          <h4>Main Skills</h4>
        </div>
      </div>
      <div class="skills">
        <div class="extra">
          <div *ngFor="let skill of skills[0].skills">
            <h5><b>{{skill.name}}</b><br> {{skill.time}}</h5>
          </div>
        </div>
        <div class="extra">
          <div *ngFor="let skill of skills[1].skills">
            <h5><b>{{skill.name}}</b><br> {{skill.time}}</h5>
          </div>
        </div>
        <div class="extra">
          <div *ngFor="let skill of skills[2].skills">
            <h5><b>{{skill.name}}</b><br> {{skill.time}}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="background-image"></div>
  </div>
</app-tab-component>