<app-tab-component class="about">
  <div class="tab tab--about">
    <div class="overlay">
      <div class="central">
        <div class="top">
          <h1>EDUARDO LUIZ DA SILVEIRA</h1>
          <h3>Software Developer</h3>
          <h4>Main Skills</h4>
        </div>
      </div>
      <div class="skills">
        <div class="extra">
          <h5><b>HTML</b><br> 7 years</h5>
          <h5><b>CSS</b><br> 7 years</h5>
          <h5><b>JavaScript</b><br> 7 years</h5>
          <h5><b>Typescript</b><br> 5 years</h5>
          <h5><b>Angular</b><br> 5 years</h5>
          <h5><b>Dart</b><br> 2 year</h5>
          <h5><b>AngularDart</b><br> 2 year</h5>
          <h5><b>AngularJS</b><br> 1 years</h5>
        </div>
        <div class="extra">
          <h5><b>Agile</b><br> 6 years</h5>
          <h5><b>Scrum</b><br> 6 years</h5>
          <h5><b>NGRX</b><br> 4 years</h5>
          <h5><b>Git</b><br> 4 years</h5>
          <h5><b>SQL</b><br> 4 years</h5>
        </div>
        <div class="extra">
          <h5><b>C#</b><br> 3 years</h5>
          <h5><b>.NET Forms</b><br> 2 years</h5>
          <h5><b>Xamarin</b><br> 2 years</h5>
          <h5><b>Flex</b><br> 2 years</h5>
        </div>
      </div>
    </div>
      <div class="background-image"></div>
  </div>
</app-tab-component>