<app-tab-component class="about">
  <div class="tab tab--about">
    <div class="overlay">
      <div class="central">
        <div class="top">
          <h1>EDUARDO LUIZ DA SILVEIRA</h1>
          <h5>Sen<b>ior</b> Web Dev<b>elo</b>per <b>wit</b>h over 6 y<b>ears</b> of exp<b>eri</b>ence in web app<b>lic</b>ation
            dev<b>elop</b>ment. Pro<b>fic</b>ient in <b>Ang</b>ular2+, D<b>art</b>, Typ<b>escr</b>ipt, and <b>NGR</b>X, with
            a tr<b>ack</b> re<b>cor</b>d of del<b>ive</b>ring c<b>omp</b>lex pro<b>jec</b>ts on ti<b>me</b> and wi<b>thi</b>n bud<b>get</b>.
            Pass<b>iona</b>te ab<b>out</b> sof<b>twa</b>re deve<b>lopm</b>ent and comm<b>itt</b>ed to deli<b>ver</b>ing
            high-qu<b>alit</b>y code.</h5>

            <div class="download">
              <a href="assets/cv.pdf" download="EduardoSilveiraCV">Download CV</a>
            </div>
        </div>
      </div>
    </div>
    <div class="background-image"></div>
  </div>
</app-tab-component>