<app-tab-component class="about">
  <div class="tab tab--about">
    <div class="overlay">
      <div class="central">
        <div class="top">
          <h1>EDUARDO LUIZ DA SILVEIRA</h1>
          <h5>I <b>am</b> a hig<b>hly</b> ski<b>lle</b>d Ful<b>lst</b>ack Web <b>Dev</b>elo<b>per</b> wit<b>h</b> a
            wea<b>lth</b> of <b>exp</b>erie<b>nce</b> in a <b>wid</b>e arr<b>ay</b> of tec<b>hno</b>log<b>ies</b>. On
            <b>the</b>
            fro<b>nte</b>nd, I ha<b>ve</b> 5 yea<b>rs</b> of exp<b>ert</b>ise in <b>Ang</b>ular, 1 <b>yea</b>r in
            <b>Ang</b>lar<b>JS</b>, and 2 <b>yea</b>rs in <b>Ang</b>ular<b>Dart</b>, com<b>ple</b>ment<b>ed</b> by a
            str<b>ong</b> com<b>man</b>d ov<b>er</b> Type<b>scri</b>pt and Da<b>rt.</b> My pro<b>fic</b>ien<b>cy</b> in
            HTML,
            <b>CSS</b>, and Jav<b>aSc</b>ript, ho<b>ned</b> ove<b>r</b> 7 ye<b>ars</b>, ens<b>ures</b> a
            sol<b>id</b> fou<b>nda</b>tion in <b>fro</b>nte<b>nd</b> fun<b>dam</b>ent<b>als.</b>

            On <b>the</b> bac<b>ken</b>d, I <b>am</b> well-<b>ver</b>sed in <b>C#</b>, .NET For<b>ms</b>, and SQL
            <b>Ser</b>ver, emp<b>ower</b>ing me <b>to</b> cre<b>ate</b> com<b>pre</b>hen<b>sive</b> and <b>scal</b>able
            sol<b>uti</b>ons. <b>My</b> exp<b>eri</b>enc<b>e in </b>cro<b>ss-pla</b>tfo<b>rm </b>dev<b>elo</b>pmen<b>t
              with</b> <b> Xam</b>arin and <b>exp</b>ert<b>ise</b> in NG<b>RX</b> for sta<b>te</b> man<b>age</b>ment
            and <b>use</b>r int<b>erf</b>ace <b>dev</b>elo<b>pment</b> fur<b>ther</b> add to my
            <b>ver</b>sat<b>ili</b>ty.
            Wi<b>th</b> 4 ye<b>ars</b> of Git <b>usa</b>ge and 6 <b>yea</b>rs of <b>app</b>lyi<b>ng</b> Agi<b>le</b>
            and Scr<b>um</b> met<b>hod</b>olog<b>ies</b>, I am <b>equ</b>ipp<b>ed</b> to del<b>ive</b>r
            exc<b>ept</b>ion<b>al</b> resu<b>lts</b>, lea<b>ding</b> and <b>con</b>tri<b>but</b>ing to
            <b>succ</b>ess<b>ful</b> web
            dev<b>elo</b>pme<b>nt</b> pro<b>jec</b>ts.
          </h5>

          <!-- <div class="download">
              <a href="assets/cv.pdf" download="EduardoSilveiraCV">Download CV</a>
            </div> -->
        </div>
      </div>
    </div>
    <div class="background-image"></div>
  </div>
</app-tab-component>