.main--container {
  width: 100%;
  overflow: hidden;
  height: calc(100vh - 98px);
}
.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.main-tabs {
  &--container {
    width: 100%;
    // overflow: auto;
    scroll-behavior: smooth;
    transition: ease 1ms;
  }
}
.bottom-navigation {
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(13, 13, 13, 0.96);
  .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(230, 230, 230);
    cursor: pointer;
  }
  .selected {
    background-color: #535353;
  }
  .center {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  width: 100%;
  z-index: 9;
  bottom: 0;
  text-align: center;
}
h5 {
  color: #eeeeee;
  text-transform: uppercase;
}
