<div class="main--container">
  <div class="main-tabs--container">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="bottom-navigation">
  <div class="center">
    <div class="dot"
         [routerLink]="'/'"
         routerLinkActive="selected"
         [skipLocationChange]="true"
         [routerLinkActiveOptions]="{exact: true}"
         ariaCurrentWhenActive="page"></div>
    <div class="dot"
         [routerLink]="'/about'"
         [skipLocationChange]="true"
         routerLinkActive="selected"
         ariaCurrentWhenActive="page"></div>
    <div class="dot"
         [routerLink]="'/experience'"
         routerLinkActive="selected"
         [skipLocationChange]="true"
         ariaCurrentWhenActive="page"></div>
    <div class="dot"
         [routerLink]="'/contact'"
         [skipLocationChange]="true"
         routerLinkActive="selected"
         ariaCurrentWhenActive="page"></div>
  </div>
</div>
