<div class="main-tabs--container"
     (scroll)="onScroll($event)">
  <app-tab-component class="about">
    <div class="tab tab--about">
      <div class="overlay"></div>
      <div class="background-image"></div>
    </div>
  </app-tab-component>
  <app-tab-component class="biography">
    <div class="tab tab--biography">
      biography
    </div>
  </app-tab-component>
  <app-tab-component class="photos">
    <div class="tab tab--photos">
      photos
    </div>
  </app-tab-component>
  <app-tab-component class="cases">
    <div class="tab tab--cases">
      cases
    </div>
  </app-tab-component>
  <app-tab-component class="contact">
    <div class="tab tab--contact">
      contact
    </div>
  </app-tab-component>
</div>