<section id="hero">
  <div class="hero-content">
    <h1>Career CoPilot: Unlocking Your Brilliance</h1>
    <p>Elevate your virtual meetings with AI Assistance. <br>Introducing Meeting Copilot, your AI-powered assistant
      for virtual meetings!</p>
    <a target="_blank"
       href="https://chromewebstore.google.com/detail/career-copilot-unlocking/bgkcdboponmkdhdgiclcmlglokpecdmi?hl=en"
       class="button">Get Started Now</a>
  </div>
  <div class="hero-image">
    <img src="../assets/hero-image.png"
         alt="Career CoPilot in Action">
  </div>
</section>

<section id="features">
  <div class="feature-intro">
    <h2>Elevate Your Virtual Meetings with AI Assistance</h2>
    <p>Say goodbye to the chaos of managing meeting notes
      and discussions.
      <br><br>This AI-powered assistant seamlessly integrates with your preferred meeting platforms, delivering
      real-time
      subtitle analysis and insightful OpenAI contributions.
    </p>
  </div>
  <div class="feature-list">
    <div class="feature-item">
      <h3>Real-time Subtitle Analysis</h3>
      <p>Experience the power of Meeting Copilot as it captures and analyzes spoken content during your virtual
        meetings, ensuring you never miss a crucial detail.</p>
    </div>
    <div class="feature-item">
      <h3>OpenAI Integration</h3>
      <p>Enhance your meetings by sending direct requests to OpenAI from within your sessions, gaining access to
        valuable information and AI-driven insights.</p>
    </div>
    <div class="feature-item">
      <h3>User-Friendly Interface</h3>
      <p>Enjoy a simple and intuitive interface, making it effortless to interact with Meeting Copilot during your
        meetings. No more complexities; just seamless assistance.</p>
    </div>
  </div>
  <p class="feature-cta">Ready to revolutionize your meeting experience? Elevate your virtual meetings with Career
    Copilot today!</p>
  <a target="_blank"
     href="https://chromewebstore.google.com/detail/career-copilot-unlocking/bgkcdboponmkdhdgiclcmlglokpecdmi?hl=en"
     class="button">Download Now for Free</a>
</section>

<section id="how-to-use">
  <h2>How to Use Career Copilot</h2>
  <ol>
    <li><strong>Install the Extension:</strong> Add Career Copilot to your Chrome browser with a single <a
         target="_blank"
         href="https://chromewebstore.google.com/detail/career-copilot-unlocking/bgkcdboponmkdhdgiclcmlglokpecdmi?hl=en">Click!</a>
    </li>
    <li><strong>Insert your OpenAI Key:</strong> Click on the extension and save your key.
      <a target="_blank"
         href="https://platform.openai.com/api-keys">Open AI API platform.openai.com/api-keys</a>
    </li>
    <li><strong>Enable Closed Captions:</strong> To experience the full power of Career Copilot, make sure to enable
      closed captions during your Google Meetings.</li>
    <li><strong>Enable Real-time Analysis:</strong> Once installed, Career Copilot will automatically begin analyzing
      meeting subtitles.</li>
    <li><strong>Send Requests to OpenAI:</strong> Seamlessly send requests to OpenAI for additional information or
      answers during your meetings.</li>
  </ol>
</section>

<section id="testimonials">
  <h2>Real Stories of Success</h2>

  <div class="testimonial">
    <p>"Career CoPilot is a game-changer! It turned my professional journey into an exhilarating adventure. I now face
      every meeting with unwavering confidence."</p>
    <span>- Sarah Williams, Senior Project Manager at Tech Innovators Inc.</span>
  </div>

  <div class="testimonial">
    <p>"I can't thank Career CoPilot enough. My career trajectory has soared since I started using it. This extension
      is pure magic!"</p>
    <span>- Michael Rodriguez, Financial Analyst at Global Dynamics Corp.</span>
  </div>

  <div class="testimonial">
    <p>"Career CoPilot gave me the clarity I needed to make pivotal career decisions. Now, I'm in control, and my
      career is thriving!"</p>
    <span>- Emily Chen, Marketing Strategist at Fortune Solutions Ltd.</span>
  </div>

  <div class="testimonial">
    <p>"Using Career CoPilot was like turning on a light in a dark room. It provided insights I didn't even know I
      needed. A must-have for any professional."</p>
    <span>- Robert Turner, IT Specialist at Quantum Innovations Co.</span>
  </div>

  <div class="testimonial">
    <p>"This extension is a career revelation! It's like having a personal mentor guiding me at every step. I'm truly
      impressed."</p>
    <span>- Jessica Adams, HR Manager at Dynamic Solutions Group</span>
  </div>

  <div class="testimonial">
    <p>"Career CoPilot exceeded my expectations. It not only removed brain freeze but elevated my decision-making
      skills. A must for any ambitious professional."</p>
    <span>- James Foster, Sales Executive at Global Innovations Inc.</span>
  </div>
</section>

<section id="download">
  <h2>Embark on Your Journey to Professional Brilliance</h2>
  <p>Don't miss out on the transformative power of Career CoPilot. Join the growing community of Meeting Copilot<br>
    enthusiasts! Contribute to the project, provide feedback, and help shape the future of virtual meetings.</p>
  <a target="_blank"
     href="https://chromewebstore.google.com/detail/career-copilot-unlocking/bgkcdboponmkdhdgiclcmlglokpecdmi?hl=en"
     class="button">Download Now and Ignite Your Success</a>
</section>

<footer>
  <p>&copy; 2023 Career CoPilot - Unlocking Growth</p>
  <p class="small">Career Copilot is FREE and your support ensures it stays FREE forever.</p>
  <p class="small">PIX: 168c43cf-de54-463e-8ffb-6acd256a0905</p>
</footer>